# Node.js
node_modules/
npm-debug.log

# Build directories
/dist
/build

# Environment variables
.env

# IDE or editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
